body {
  font: 10px sans-serif;
}

.svg-container {
  display: inline-block;
  position: relative;
  width: 100%;
  padding-bottom: 70%; /* aspect ratio */
  vertical-align: top;
  overflow: hidden;
}
.svg-container-largo {
  display: inline-block;
  position: relative;
  width: 100%;
  padding-bottom: 50%; /* aspect ratio */
  vertical-align: top;
  overflow: hidden;
}
.svg-content-responsive {
  display: inline-block;
  position: absolute;
  top: 10px;
  left: 0;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.bar {
  fill: orange;
}

.bar:hover {
  fill: orangered ;
}

.x.axis path {
  display: none;
}

.d3-tip {
  line-height: 1;
  font-weight: bold;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  content: "\25BC";
  position: absolute;
  text-align: center;
}

/* Style northward tooltips differently */
.d3-tip.n:after {
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
}


/*style tooltip scatterplot*/
div.tooltip {
  position: absolute;
  text-align: center;
  padding: .2rem;
  background: #313639;
  color: #f9f9f9;
  border: 0px;
  border-radius: 8px;
  pointer-events: none;
  font-size: .7rem;
}

.dropDown {
position: absolute;
top:230px;
left: 85px;
width: min-content !important;
transform: scale(0.8);
z-index: 10;
}

#top10, #top10label{
position: absolute;
top:290px;
transform: scale(0.8);
left: 90px;
z-index: 10;
}
#worst10, #worst10label{
position: absolute;
top:320px;
transform: scale(0.8);
left: 90px;
z-index: 10;
}

#top10label{
top:284px;
left:100px;
}

#worst10label{
top:313px;
left:100px;
}

/* cose del parallel da esempio github */
svg {
font: 10px sans-serif;
}

.background path {
fill: none;
stroke: #ddd;
shape-rendering: crispEdges;
}

.foreground path {
fill: none;
stroke: steelblue;
}

.brush .extent {
fill-opacity: .3;
stroke: #fff;
shape-rendering: crispEdges;
}

.axis line,
.axis path {
fill: none;
stroke: #000;
shape-rendering: crispEdges;
}

.axis text {
text-shadow: 0 1px 0 #fff, 1px 0 0 #fff, 0 -1px 0 #fff, -1px 0 0 #fff;
}